* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.top-container {
  text-align: center;
  width: 85%;
  margin: 20px auto;
  padding-top: 0;
}

.line {
  font-size: 1.5rem;
  font-weight: lighter;
  color: hsl(234, 12%, 34%);
}

.middle {
  float: left;
  width: 31%;
  padding: 10px;
  height: 550px;
}

.Lefty, .Righty {
  float: left;
  width: 31%;
  height: 400px;
  padding-top: 110px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  box-sizing: border-box;
  max-width: 420px;
  min-height: 225px;
  margin: 25px auto;
  padding: 15px 25px 25px 25px;
  border-radius: 5px;
  box-shadow: 0 10px 10px 5px hsla(231, 91%, 73%, 0.3);
}

.right {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.left {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.up {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.down {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.img {
  float: right;
  margin-top: 3%;
}

h1 {
  text-align: center;
  margin-top: -4px;
  margin-bottom: 2px;
  font-size: 1.7rem;
}

h2 {
  margin-top: 0;
}

strong {
  display: block;
  font-weight: 800;
}

h3 {
  font: .08rem;
  color: hsl(229, 6%, 66%);
  font-weight: 200
}

p {
  font-size: 0.9rem;
  line-height: 1.05rem;
  color: hsl(229, 6%, 66%);
  margin: 8px 0px 8px 0px;
  font-weight: 200;
}

footer {
  position: absolute;
  bottom: -10%;
  left: 40%;
}

@media (min-width: 320px) and (max-width: 650px) {
  .column {
    width: 100%;
  }

  h3{
      font-size: 1.25rem;
      padding-top: 20px;
  }
.Lefty {
   height: 300px;
   padding: 70px 0 0 0;
  }
  .Righty{
   height: 300px;
   padding-top: 0;
  }

  footer {
    position: relative;
    bottom: 5px ;
    text-align: center;
    width: 100%;
    left:10%;
  }

  .text {
    max-width: 475px;
  }
.img{
    float: right;
    margin-top: 2px;
}
}
@media (mind-width 651) {
    footer {
    position: relative;
    bottom: -560px ;
    text-align: center;
    width: 100%;
    left:10%;
