h1{ color: grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 25px;
text-align: center;
}

h2{
  margin-left: 10px;
}

p{
  margin-left: 10px;
  color: gray;
}

.line {
  color: black;
  font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
  text-align: center;
}

h3{
  font-size: 15px;
  font-weight: lighter;
  color: gray;
  text-align: center;
  width: 40%;
  margin: 40px auto 60px;
}

body{
  background-color: #eaeaea;
  height: 900px;
  width: 1250px;
}
.dots{
  position: absolute;
  left: -34px;
  top: 578px;

}

.dot2{
  position: absolute;
  top: 217px;
  right: 84px;
  z-index: 2;
}

.lines-art{
position: absolute;
right: 294px;
top:0;

}

.front-container{
  position: absolute;
  text-align: center;
  background-color: #f9f7f7;
  height: 850px;
  width: 1250px;
  margin: 150px 70px 150px 75px;
  z-index: 2;
}
.supervisor{
  height: 250px;
  width:350px;
background-color: white ;
box-shadow: 0 0 14px 0 #d2ebe9;
position: absolute;
border-top: 5px solid #45d3d3;
left: 41px;
top: 379px;
}
.supv-img{
  position: absolute;
  bottom: 18px;
  left: 257px;
}
.team-Builder{
  height: 250px;
  width:350px;
background-color: white;
box-shadow: 0 0 14px 0 #d2ebe9;
position: absolute;
border-top: 5px solid red;
left: 435px;
top: 212px;

}

.builder-img{
  position: absolute;
  bottom: 18px;
  left: 257px;
}
.karma{
  height: 250px;
  width:350px;
background-color: white;
box-shadow: 0 0 14px 0 #d2ebe9;
position: absolute;
border-top: 5px solid Orange;
left: 435px;
top: 539px;
}
.karma-img{
  position: absolute;
  bottom: 18px;
  left: 257px;
}

.calc {
  height: 250px;
  width:350px;
background-color: white;
box-shadow: 0 0 14px 0 #d2ebe9;
position: absolute;
right: 65px;
top: 379px;
border-top: 5px solid #3da0d1;

}
.calculator-img {
  position: absolute;
  bottom: 18px;
  left: 257px;
}




.attribution{
  position: relative;
  bottom: -1130px;
  font-size: 11px;
  text-align: center;
  color: hsl (228, 45%, 44%);
  z-index: 3;

}
